
@{
    ViewBag.Title = "Home";
}

<table class="table table-hover">
    <tr>
        <th>Isim</th>
        <th>SoyIsim</th>
    </tr>
    <tr>
        <td>Cagri</td>
        <td>Yolyapar</td>
    </tr>
</table>

